version: "3.9"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: guardsdb
      POSTGRES_USER: guarduser
      POSTGRES_PASSWORD: guardpass
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U guarduser -d guardsdb"]
      interval: 5s
      timeout: 5s
      retries: 10

  redis:
    image: redis:7-alpine
    command: ["redis-server", "--save", "", "--appendonly", "no"]
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./backend
    volumes:
      - ./backend:/code
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgres://guarduser:guardpass@db:5432/guardsdb
      DEBUG: "true"
      SECRET_KEY: devsecret
      DJANGO_SETTINGS_MODULE: core.settings
      PYTHONUNBUFFERED: "1"
      REDIS_URL: redis://redis:6379/0
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    entrypoint: ["/code/entrypoint.sh"]

  frontend:
    build:
      context: ./frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      CHOKIDAR_USEPOLLING: "true"
    depends_on:
      - backend

volumes:
  db_data:
